/* **************************************************************cats */
body {
    align-items: center;
    background-color: #f9abab;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-weight: 900;
    height: 100vh;
    justify-content: center;
    margin: 0;
  }
  
  .box {
    --box-width: 300px;
    /* background-color: #f9f; */
    border-radius: 50%;
    /* Chromium work-around */
    clip-path: circle(150px at 150px);
    height: var(--box-width);
    overflow: hidden;
    position: relative;
    width: var(--box-width);
  }
  
  .activator {
    height: 100%;
    position: absolute;
    width: 100%;
  }
  
  .activator.white {
    clip-path: polygon(
      35.66% 85.67%,
      44.99% 83.13%,
      54.08% 90.2%,
      55.1% 101.27%,
      64.89% 94.58%,
      74.59% 86.97%,
      82.83% 78.07%,
      88.86% 67.82%,
      91.48% 56.61%,
      90.3% 42.78%,
      86.06% 31.29%,
      77.45% 21.44%,
      67.34% 14.67%
    );
  }
  
  .activator.black {
    /* background-color: red; */
    clip-path: polygon(
      35% 86%,
      23% 79.33%,
      15.86% 70.67%,
      11.63% 61.78%,
      8.63% 52.71%,
      8.45% 43.74%,
      10.78% 32.35%,
      16.65% 22.15%,
      26.05% 12.86%,
      34.44% 6.24%,
      44.4% 0%,
      47.15% 11%,
      56.69% 17.26%,
      66.57% 14.04%
    );
  }
  
  .activator:hover {
    /* Safari work-around */
    clip-path: circle(150px at 150px);
    cursor: alias;
    z-index: 1;
  }
  
  .drop {
    background-color: #ffffff00;
    height: 100%;
    pointer-events: none;
    position: absolute;
    transition: background-color 400ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
  }
  
  .cats {
    pointer-events: none;
    position: absolute;
    transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .activator.black:hover ~ .drop {
    background-color: #f2f2f2;
  }
  
  .activator.black:hover ~ .cats {
    transform: translateX(45px) translateY(95px) scale(1.4) rotate(0deg);
  }
  
  .activator.white:hover ~ .drop {
    background-color: #1a1a1a;
  }
  
  .activator.white:hover ~ .cats {
    transform: translateX(45px) translateY(95px) scale(1.4) rotate(180deg);
  }
  
  .text {
    font-size: 32px;
    font-weight: 600;
    margin-top: 32px;
  }
  /* ***************************************fliping icons and writing to writing */
  .ag-format-container {
    width: 1142px;
    margin: 0 auto;
  }
  
  
  .ag-offer-block {
    padding: 50px 0 90px
  }
  .ag-offer_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
  }
  .ag-offer_item {
    width: 33.33%;
  
    overflow: hidden;
  
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  
    position: relative;
  }
  .ag-offer_item:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) {
    border-top: 1px solid #c1c1c1;
  }
  .ag-offer_item:not(:nth-child(3n)) {
    border-right: 1px solid #c1c1c1;
  }
  .ag-offer_item:nth-child(1) .ag-offer_hidden-item {
    background-color: #e45f0a;
  }
  .ag-offer_item:nth-child(2) .ag-offer_hidden-item {
    background-color: #ffca00;
  }
  .ag-offer_item:nth-child(3) .ag-offer_hidden-item {
    background-color: #15c1c1;
  }
  .ag-offer_item:nth-child(4) .ag-offer_hidden-item {
    background-color: #008000;
  }
  .ag-offer_item:nth-child(5) .ag-offer_hidden-item {
    background-color: #8c7b00;
  }
  .ag-offer_item:nth-child(6) .ag-offer_hidden-item {
    background-color: #000080;
  }
  .ag-offer_item:hover .ag-offer_visible-item {
    opacity: 0;
  
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
  }
  .ag-offer_visible-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  
    height: 100%;
    width: 100%;
    padding: 35px 40px;
  
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  
    -webkit-transition: .4s .3s;
    -moz-transition: .4s .3s;
    -o-transition: .4s .3s;
    transition: .4s .3s;
  }
  .ag-offer_img {
    height: 64px;
    width: 64px;
    margin: 0 15px 0 0;
  }
  .ag-offer_title {
    font-size: 22px;
  
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .ag-offer_hidden-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  
    padding: 30px;
  
    opacity: 0;
  
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  
    -webkit-transform: rotate(180deg) scale(0);
    -moz-transform: rotate(180deg) scale(0);
    -ms-transform: rotate(180deg) scale(0);
    -o-transform: rotate(180deg) scale(0);
    transform: rotate(180deg) scale(0);
  
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
  }
  .ag-offer_item:hover .ag-offer_hidden-item {
    opacity: 1;
  
    -webkit-transform: rotate(0deg) scale(1);
    -moz-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    -o-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  
    -webkit-transition-delay: .3s;
    -moz-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
  }
  .ag-offer_text {
    max-width: 100%;
  
    opacity: 0;
  
    font-size: 20px;
    color: #FFF;
  
    -webkit-transition: .3s .5s;
    -moz-transition: .3s .5s;
    -o-transition: .3s .5s;
    transition: .3s .5s;
  }
  .ag-offer_item:hover .ag-offer_text {
    opacity: 1;
  }
  .ag-offer_btn {
    display: block;
    padding: 10px 20px;
    border: 2px solid #FFF;
  
    position: absolute;
    top: 50%;
    left: 50%;
  
    white-space: nowrap;
    font-size: 25px;
    color: #FFF;
  
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .ag-offer_btn:hover {
    border: 2px solid #0000d1;
    background-color: #FFF;
  
    text-decoration: none;
    color: #0000d1;
  }
  
  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  
    .ag-offer_item {
      width: 100%;
      margin:  0 0 30px;
      border: 0 none !important;
      border-bottom: 1px solid #c1c1c1 !important;
    }
    .ag-offer_visible-item {
      padding: 0 20px 30px;
  
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -moz-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
    }
    .ag-offer_item:hover .ag-offer_visible-item {
      opacity: 1;
  
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
      transform: none;
    }
    .ag-offer_hidden-item {
      padding: 0 20px 20px;
  
      opacity: 1;
  
      position: static;
  
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
      transform: none;
    }
    .ag-offer_item:nth-child(1) .ag-offer_hidden-item,
    .ag-offer_item:nth-child(2) .ag-offer_hidden-item,
    .ag-offer_item:nth-child(3) .ag-offer_hidden-item,
    .ag-offer_item:nth-child(4) .ag-offer_hidden-item,
    .ag-offer_item:nth-child(5) .ag-offer_hidden-item,
    .ag-offer_item:nth-child(6) .ag-offer_hidden-item {
      background-color: transparent;
    }
    .ag-offer_item:hover .ag-offer_text {
      opacity: 1;
    }
    .ag-offer_title {
      font-weight: bold;
    }
    .ag-offer_text {
      opacity: 1;
  
      font-size: 18px;
      color: #000;
    }
    .ag-offer_btn {
      border: 2px solid #0000d1;
      background-color: #000080;
  
      position: static;
  
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
      transform: none;
    }
  }
  
  @media only screen and (max-width: 639px) {
  
  }
  
  @media only screen and (max-width: 479px) {
  
  }
  
  @media (min-width: 768px) and (max-width: 979px) {
    .ag-format-container {
      width: 750px;
    }
  
  }
  
  @media (min-width: 980px) and (max-width: 1161px) {
    .ag-format-container {
      width: 960px;
    }
  
  }
  /* ************************************/
  body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .quotes {
    width: 80vw;
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 2;
  }
  
  .quotes .box {
    position: relative;
    width: 25vw;
    height: 50vh;
    min-height: 320px;
    background: #f2f2f2;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 2;
    box-sizing: border-box;
    padding: 30px;
    box-shadow: -10px 25px 50px rgba(0, 0, 0, 0.3);
  }
  
  .quotes .box::before {
    content: '\201C';
    position: absolute;
    top: -20px;
    left: 5px;
    width: 100%;
    height: 100%;
    font-size: 120px;
    opacity: 0.2;
    background: transparent;
    pointer-events: none;
  }
  
  .quotes .box::after {
    content: '\201D';
    position: absolute;
    bottom: -10%;
    right: 5%;
    font-size: 120px;
    opacity: 0.2;
    background: transparent;
    filter: invert(1);
    pointer-events: none;
  }
  
  .quotes .box p {
    margin: 0;
    padding: 10px;
    font-size: 1.2rem;
  }
  
  .quotes .box h2 {
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 10%;
    right: 10%;
    font-size: 1.5rem;
  }
  
  .quotes .box:hover {
    color: #f2f2f2;
    box-shadow: 20px 50px 100px rgba(0, 0, 0, 0.5);
  }
  
  .quotes .bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: all 0.5s ease-in;
    pointer-events: none;
    width: 100%;
    height: 200%;
    overflow: hidden;
  }
  
  .quotes .box.box1:hover,
  .quotes .box.box1:hover~.bg {
    opacity: 1;
    background: #e2a9e5;
  background: -moz-linear-gradient(-45deg, #e2a9e5 15%, #2b94e5 100%);
  background: -webkit-linear-gradient(-45deg, #e2a9e5 15%,#2b94e5 100%);
  background: linear-gradient(135deg, #e2a9e5 15%,#2b94e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2a9e5', endColorstr='#2b94e5',GradientType=1 );
  }
  
  .quotes .box.box2:hover,
  .quotes .box.box2:hover~.bg {
    opacity: 1;
    background: #632c65;
  background: -moz-linear-gradient(-45deg, #632c65 15%, #56a5e2 100%);
  background: -webkit-linear-gradient(-45deg, #632c65 15%,#56a5e2 100%);
  background: linear-gradient(135deg, #632c65 15%,#56a5e2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#632c65', endColorstr='#56a5e2',GradientType=1 );
  }
  
  .quotes .box.box3:hover,
  .quotes .box.box3:hover~.bg {
    opacity: 1;
    background: #4b384c;
  background: -moz-linear-gradient(-45deg, #4b384c 15%, #da5de2 100%);
  background: -webkit-linear-gradient(-45deg, #4b384c 15%,#da5de2 100%);
  background: linear-gradient(135deg, #4b384c 15%,#da5de2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b384c', endColorstr='#da5de2',GradientType=1 );
  }
  /* ********************************************************************************************** */

  :root {
    --size: 400px;
    --blue: #aad5ff;
    --lb: rgba(0, 0, 0, 0.5);
  }
  body {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    background-color: var(--blue);
    color: cornsilk;
    font-family: "Roboto Condensed", sans-serif;
  }
  .container {
    width: var(--size);
    height: var(--size);
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    justify-items: center;
    align-items: center;
    filter: drop-shadow(0px 0px 7px rgba(1, 1, 1, .7));
  }
  .productImage {
    grid-column: 1/span 2;
    grid-row: 1 /span 2;
    width: var(--size);
    height: var(--size);
    background-size: cover;
    clip-path: polygon(
      20% 20%,
      50% 20%,
      50% 20%,
      80% 20%,
      80% 50%,
      80% 50%,
      80% 80%,
      50% 80%,
      50% 80%,
      20% 80%,
      20% 50%,
      20% 50%
    );
    transition: all 0.7s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  }
  .shoeImg {
    background-image: url(https://source.unsplash.com/l8p1aWZqHvE/1000x1000);
    background-color: #148bff;
  }
  .shirtImg {
    background-image: url(https://source.unsplash.com/49wtmkUVmFQ/1000x1000);
    background-color: #aace29;
  }
  h4,
  ul,
  span {
    padding: 0;
    margin: 0;
  }
  .size,
  .color {
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    z-index: 1;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  }
  .size ul li,
  .color ul li {
    list-style: none;
    width: 20px;
    height: 20px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .color {
    grid-column: 2;
    grid-row: 2;
  }
  .color ul li span {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    display: inline-block;
  }
  .red {
    background-color: red;
  }
  .yellow {
    background-color: greenyellow;
  }
  .blue {
    background-color: #0070ee;
  }
  .price {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    z-index: 1;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  }
  .price h4 {
    margin-bottom: 8px;
  }
  .price span {
    width: 20px;
    height: 20px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .productName {
    grid-column: 1;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    z-index: 1;
    transition: all 0.7s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  }
  
  .productImage:hover {
    clip-path: polygon(
      20% 0%,
      50% 0%,
      50% 20%,
      100% 20%,
      100% 50%,
      80% 50%,
      80% 100%,
      50% 100%,
      50% 80%,
      0% 80%,
      0% 50%,
      20% 50%
    );
    transform: rotate(-15deg);
    transition: all 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  }
  .productImage:hover ~ * {
    opacity: 1;
    transform: rotate(-15deg);
    transition: all 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  }
  .credits{
      color:white;
      font-size: 1.2rem;
      grid-column: 1 / -1 ;
      justify-self: center;
      text-align: center;
  }
  /* ************************************************** pink dot on screen. comment out to get rid of it*/

  /* .coolhover1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px auto;
    width: 250px;
    height: 250px;
    background: white;
    border-radius: 75px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 2px;
    transition: 1s box-shadow;
  }
  
  .coolhover1:hover {
    box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
  }
  
  .coolhover1:hover::before, div:hover::after {
    display: block;
    content: '';
    position: absolute;
    width: 250px;
    height: 250px;
    background: #FDA8CF;
    border-radius: 75px;
    z-index: -1;
    animation: 1s clockwise infinite;
  }
  
  .coolhover1:hover:after {
    background: #F3CE5E;
    animation: 2s counterclockwise infinite;
  }
  
  @keyframes clockwise {
    0% {
      top: -5px;
      left: 0;
    }
    12% {
      top: -2px;
      left: 2px;
    }
    25% {
      top: 0;
      left: 5px;    
    }
    37% {
      top: 2px;
      left: 2px;
    }
    50% {
      top: 5px;
      left: 0;    
    }
    62% {
      top: 2px;
      left: -2px;
    }
    75% {
      top: 0;
      left: -5px;
    }
    87% {
      top: -2px;
      left: -2px;
    }
    100% {
      top: -5px;
      left: 0;    
    }
  }
  
  @keyframes counterclockwise {
    0% {
      top: -5px;
      right: 0;
    }
    12% {
      top: -2px;
      right: 2px;
    }
    25% {
      top: 0;
      right: 5px;    
    }
    37% {
      top: 2px;
      right: 2px;
    }
    50% {
      top: 5px;
      right: 0;    
    }
    62% {
      top: 2px;
      right: -2px;
    }
    75% {
      top: 0;
      right: -5px;
    }
    87% {
      top: -2px;
      right: -2px;
    }
    100% {
      top: -5px;
      right: 0;    
    }
  } */

  /* ***************************************************************** */

  @import url('https://fonts.googleapis.com/css?family=Oswald');

body {
	margin: 0px;
}

#circle-container {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: lightblue;
	width: 100vw;
	height: 100vh;
	position: relative;
}

.circle {
	width: 50vh;
	height: 50vh;
	position: absolute;
	border-radius: 50%;
}

#one:before {
	content: "Hover Me!";
}

#one {
	background-color: rgba(0,0,225, 0.45);
	font-size: 40px;
	font-family: "Oswald", sans-serif;
	letter-spacing: 1.5px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: bold;
	transition: 1s;
}

#two {
	background-color: green;
	transition: 1s;
	opacity: 0.5;
}

#three {
	background-color: red;
	transition: 1s;
	opacity: 0.5;
}

#four {
	background-color: orange;
	transition: 1s;
	opacity: 0.5;
}
#five {
	background-color: green;
	transition: 1s;
	opacity: 0.5;
}

#cc {
	position:relative;
	width: 50vh;
	height: 50vh;
	border-radius: 50%;
	overflow: hidden;
}

#cc:hover #two {
	transform: translate(0px, 75px);
}
#cc:hover #three {
	transform: translate(0px, -75px);
}
#cc:hover #four {
	transform: translate(75px, 0px);
}
#cc:hover #five {
	transform: translate(-75px, 0px);
}

#mb {
	position: absolute;
	font-family: "Oswald", sans-serif;
	letter-spacing: 0.5px;
	bottom: 0px;
	display: flex;
	justify-content: center;
	width: 100vw;
	background-color: #3B3A6D;
	color: white;
}

#mb a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	padding: 0px;
}

#mb p {
	padding: 5px;
	margin: 0px;
}
/* *************************************************************** */
.box1 {
    background: white;
    margin: auto;
    margin-top: 5%;
    max-width: 30%;
    padding: 20px 50px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
  .box1:hover {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    animation-name: example;
    animation-duration: 0.25s;
    border-left: 8px solid red;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
  button {
    border:none;
    background: red;
    color: #f0f0f2;
    border-radius: 5px;
    padding: 5px;
  }
  
  button:hover {
    border-right: 2px solid black;
  }
  
  h1 {
    text-transform: uppercase;
  }
  
  p {
    text-align: justify;
  }
  
  @keyframes example {
      0%   {border-left: 2px solid #ffffff;}
      25%  {border-left: 3px solid #ffe6e6;}
      50%  {border-left: 4px solid #ff8080;}
      100% {border-left: 5px solid #ff0000;}
  }