:root {
  --primary-color: #f0d83b;
  --secondary-color: #02466b;
  --tertiary-color: #2e9aa7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--tertiary-color);
  font-family: Helvetica, Arial, sans-serif;
}


/* HEADER / NAV BAR STYLES START */

header {
  /* was 20 35 */
  padding: 5px 10px;
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  /* background image need to be responsive */
  background-image: url("../images/logoNoWriting.jpg");
  /* want to lower background image */
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: var(--primary-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

header a {
  text-decoration: none;
  color: var(--primary-color);
}

header nav {
  /* was 7 */
  margin: 2px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  /* changed from space-between to center need spacing  */
  justify-content: space-around;
  /* align-items: center;  */
  list-style: none;
  /* padding: 20px; / */
}


header nav ul li a {
  --b: 0.1em;
  /* the thickness of the line */
  --c: silver;
  /* the color */
  font-size: 1.55vw;
  color: var(--primary-color);
  padding-block: var(--b);
  background:
    linear-gradient(var(--c) 50%, silver 0) 0% calc(100% - var(--_p, 0%))/100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p, 0%)/var(--_p, 0%) var(--b) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: .3s var(--_s, 0s) linear, background-size .3s calc(.3s - var(--_s, 0s));
  text-decoration: none;
}

header nav ul li a:hover {
  --_p: 100%;
  --_s: .3s;
  color: silver;
  text-decoration: none;
}

/* HEADER / NAVBAR STYLES END */



/* FOOTER STYLES START */

.footer {
  /* background-color: var(--primary-color); */
  color: var(--secondary-color);
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
  font-family: Arial, sans-serif;
}

.footer div,
.footer h3 {
  margin: 5px;
  padding: 0%;
}
/* #footerPage{
  text-align: center;
}

#footerIcon {
  text-align: center;

} */

.footer a {
  color: var(--secondary-color);
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer a {
  font-size: larger;
}

.panel-footer {
  height: 100px;

}

.footer img {
  vertical-align: middle;
  margin-right: 5px;
}

.footerTitle {
  margin-top: 0px;
}


.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

}

/* END FOOTER STYLES */

/* STYLE ALL SECTION TAGS */
section {
  padding: 20px;
}
.contact {
  padding: 10px;
}
/* HERO STYLES START */
.hero {
  background-image: url('../images/logoNoWriting.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 80%;
}

.hero-cta {
  width: 35%;
  text-align: right;
  margin: 3.5%;
  color: #fff;
  font-size: 18px;
  line-height: 1.2;
}

.hero-cta h2 {
  font-style: italic;
  font-size: 55px;
  color: var(--primary-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hero-form {
  border: 3px solid var(--secondary-color);
  background-color: #f0d83b;
  padding: 20px;
  color: var(--secondary-color);
  width: 40%;
  margin: 3.5%;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hero-form button:hover {
  background-color: var(--tertiary-color);
}

.hero-form h3 {
  font-size: 24px;
  margin: 0;
}

.hero-form p {
  margin: 5px 0 15px 0;
}

/* FORM on web page */
.form-input {
  border: 1px solid var(--secondary-color);
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: var(--secondary-color);
  width: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.75);
}

.form-input:focus {
  background-color: rgba(255, 255, 255, 1);
  outline: none;
}

.hero-form label {
  margin: 0 5px;
}

.hero-form button {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
}

.checkbox-wrapper input,
.radio-wrapper input {
  opacity: 0;
}

.checkbox-wrapper label,
.radio-wrapper label {
  position: relative;
  left: 10px;
  margin: 10px;
  line-height: 1.6;
}

.checkbox-wrapper label::before,
.radio-wrapper label::before {
  content: "";
  height: 20px;
  width: 20px;
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid var(--secondary-color);
  position: absolute;
  top: -4px;
  left: -30px;
}

.radio-wrapper label::before {
  border-radius: 50%;
}

.radio-wrapper label::after {
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--secondary-color);
  position: absolute;
  left: -29px;
  top: -3px;
  background-image: radial-gradient(circle, var(--tertiary-color), var(--secondary-color));
}

.checkbox-wrapper label::after {
  content: "";
  height: 6px;
  width: 14px;
  border-left: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  position: absolute;
  left: -26px;
  top: 1px;
  transform: rotate(-58deg);
}

.checkbox-wrapper input+label::after,
.radio-wrapper input+label::after {
  content: none;
}

.checkbox-wrapper input:checked+label::after,
.radio-wrapper input:checked+label::after {
  content: "";
}

/* HERO STYLES END */


/* SECTION TITLE STYLES START */
.section-title {
  font-size: 48px;
  border-bottom: 3px solid;
  color: var(--secondary-color);
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
}

.primary-border {
  border-color: var(--primary-color);
}

.secondary-border {
  border-color: var(--tertiary-color);
}


.intro p,
.link-to-site {
  line-height: 1.7;
  color: var(--tertiary-color);
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
}

/* .footer {
  padding-left: 20px;
  padding-right: 20px;
} */

.smS,
.photo,
.gallery1,
.carouselSection, .webCard, .webColapse, .webNavbar {
  background: var(--primary-color);
}

.carousel {
  max-width: 1000px;
  margin: 0 auto;
}
/* SOCIAL MEDIA section */
.sm {
  margin: 50px auto;
  padding-bottom: 50px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.sm:last-child {
  border-bottom: none;
}

.sm h3 {
  color: var(--secondary-color);
  font-size: 46px;
  flex: 1 30%;
}

.sm-info {
  flex: 2 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.sm-img {
  flex: 1 12%;
  margin-right: 20px;
}

.sm-img img {
  max-width: 100%;
}

.sm-text {
  flex: 12;
}

/* GALLERY1 CSS photo page */
.gallery1 .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery1 .col-md-3 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* Align items to the top of the column */
}

.gallery1 img {
  max-width: 100%;
  height: auto;
}



.sm-text h4 {
  font-size: 26px;
  line-height: 1.5;
  color: var(--secondary-color);
}



/*  advertising START */
.advertising {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 25px;
}

.ad {
  margin: 20px;
  flex: 1;
  background: var(--secondary-color);
  color: var(--primary-color);
}

.ad img {
  width: 100%;
}

.ad-types {
  padding: 25px;
  line-height: 1.3;
}

.ad-types h3 {
  font-size: 28px;
}

.ad-types h4 {
  font-weight: lighter;
  font-size: 22px;
  margin-bottom: 15px;
}

.ad-types p {
  font-size: 17px;
}

/* adSTYLES END */

/* REACH OUT STYLES START */
.contact {
  background: var(--secondary-color);
}

.contact h2 {
  color: var(--primary-color);
}

.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-info>* {
  flex: 1;
  margin: 15px;
}

.contact-info iframe {
  height: 400px;
}

.contact-info div {
  color: white;
}

.contact-info h3 {
  color: var(--primary-color);
  font-size: 32px;
}

.contact-info p,
.contact-info address {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 16px;
  font-style: normal;
}

.contact-form input,
.contact-form textarea {
  border: 1px solid var(--secondary-color);
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: var(--secondary-color);
  width: 100%;
  margin-bottom: 15px;
  margin-top: 5px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.75);
}

.contact-form input:focus,
.contact-form textarea:focus {
  background-color: rgba(255, 255, 255, 1);
  outline: none;
}

.contact-form button {
  width: 100%;
  border: none;
  background: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
  border-radius: 10px;
}

.contact-form button:hover {
  color: var(--primary-color);
  background: var(--tertiary-color);
}

.contact-info a {
  color: var(--primary-color);
}

/* REACH OUT STYLES END */

/* UTILITIES */
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.flex-row {
  display: flex;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
    padding: 20px;
  }

  @media (max-width: 768px) {

    /* Adjusting the flex-direction to column for small screens */
    #footerA .d-flex.flex-row {
      flex-direction: column;
    }
  }
  /* @media (min-width: 992px) {
    footer .footer {
    
      margin-left: auto;
      margin-right: auto;
    }
  } */

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
    /* padding: 10%;  */
  }

  header nav ul li a {
    font-size: 20px;
  }

  header nav ul li {
    padding: 10px;
  }

  footer h2,
  footer div {
    text-align: center;
    width: 100%;
    /* padding: 0; */
  }

  .hero-cta,
  .hero-form {
    width: 100%;
  }

  .hero-cta {
    text-align: center;
  }

  .section-title {
    width: 80%;
  }

  .ad {
    flex: 0 70%;
  }

  .contact-info iframe {
    flex: 1 100%;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }

  .sm h3 {
    flex: 1 100%;
    text-align: center;
  }

  .sm-info {
    flex: 2 100%;
    text-align: center;
    justify-content: center;
  }

  .sm-img {
    flex: 0 32%;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .sm-text {
    flex: 100%;
  }

  .ad-types h3,
  .ad-types h4 {
    display: block;
  }

  /* header image {
background-position:center;
} */
}



/* @media (max-width: 767px) {
  #navbar5 .navbar-collapse {
    flex-basis: 100%;
    display: none;
  }
  #navbar5 .navbar-collapse.collapsing {
    display: block;
  }
}  */

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .hero-form button {
    width: 100%;
  }

  .section-title {
    width: 95%;
  }

  .intro p {
    width: 100%;
  }

  .ad {
    flex: 0 100%;
  }

  .contact-info {
    text-align: center;
  }

  .contact-info>* {
    flex: 0 100%;
  }

  .contact-form {
    order: 3;
  }
}


/* Custom styling for smaller images */
.img-thumbnail {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/* MODAL CSS */

/* Limit the height of the modal content */
.modal-content {
  max-height: 80vh;
  /* You can adjust this value as needed */
  margin-top: 50px;
  /* Adjust this margin based on your sticky header height */
}

/* Center the modal vertically */
.modal-dialog {
  display: flex;
  align-items: center;
  min-height: calc(100% - 1rem);
}

/* Set a fixed width for images within the modal */
.modal-body img {
  width: 100%;
  height: auto;
}

.modal p {
  text-align: center;
}

#myModal5 .modal-dialog,
#myModal6 .modal-dialog,
#myModal7 .modal-dialog,
#myModal8 .modal-dialog {
  max-width: 80%;
  /* Adjust the width of the modal container */
  /* margin: auto; */
}

#myModal5 img,
#myModal6 img,
#myModal7 img,
#myModal8 img {
  max-width: 100%;
  /* Ensure the image inside the modal doesn't exceed the container width */
  max-height: 70vh;
  /* Set a maximum height for the image */
  height: auto;
  /* Maintain the aspect ratio of the image */
  display: block;
  /* margin: auto;  */
}

#myModal5 .modal-body,
#myModal6 .modal-body,
#myModal7 .modal-body,
#myModal8 .modal-body {
  text-align: center;
  /* Center-align the text */
  /* padding: 20px;  */
  overflow: auto;
  /*Allow scrolling within the modal body if content is too large*/
}


/* MODAL END */


.card {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: black;
  border-radius: 0.3rem;
  padding: 3px;
}

.smS p,
.adS p {
  line-height: 1.7;
  color: black;
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;

}

.photo p {
  line-height: 1.7;
  color: black;
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
}

#topRow {
  margin-bottom: 7px;
}

.border1 {
  border: #02466b;

}



#bgImage p {
  font-size: larger;
  line-height: 2;
}

/* Custom CSS */


/* .video-background p {
      color: rgb(58, 7, 243);
    } */
/* .overlay{ 

} */
/* .videoText{
  opacity: 2;
} */

/* ***************************************** video is cut off on top might need to crop it****************************** */
.video-background {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  
  padding: 10px;
  margin: 10px;
}

.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
}

.BottomVideoText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
  text-align: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  /* color: black;  */
}

.BottomVideoText p, .BottomVideoText h2{
  /* color: white; */
  /* font-size: 50px; */
  text-shadow: -1px 1px 0 #000,
      1px 1px 0 #000,
      1px -1px 0 #000,
      -1px -1px 0 #000;
}
/* deleted below div was holding top image on photo/video page  */
.topVideo {
  /* position: relative;
  z-index: 1;
  text-align: center;
  color: #ffffff; */
  /* min-width: auto;
  min-height: 100%; */
  height: 100%;
  width: auto;
  padding-top: 10%;
  padding-bottom: 30%;
}
/* want text over youtube video  */
/* .BottomVideoText{
  position: relative;
  z-index: 1;
  text-align: center;
  
} */
/* .topVideo{
  width: 100%;
  height: auto;
} */

/* TECH section on web page  */
.webTech {
  text-align: center;
  /*  */
  /* justify-content: space-around; */
}



.tech-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.tech-item {
  text-align: center;
  margin: 0 10px;
}

.icon {
  font-size: 150px;
  /* Adjust the size as needed */
  display: block;
  margin-bottom: 10px;
  color: black;
}

.tech-text {
  font-size: 14px;
}

.tech-row {
  flex-wrap: wrap;
}

/* **************************changing button section below may not be needed*/

/* buttons ion web design page */
.btn-custom-font1 {
  font-family: 'Arial', sans-serif;
  /* Example font family for Button 1 */
}

.btn-custom-font2 {
  font-family: 'Times New Roman', serif;
  /* Example font family for Button 2 */
}

.btn-custom-font3 {
  font-family: 'Courier New', monospace;
  /* Example font family for Button 3 */
}

.btn-custom-font4 {
  font-family: 'Verdana', sans-serif;
  /* Example font family for Button 4 */
}

.btn-custom-font5 {
  font-family: 'Georgia', serif;
  /* Example font family for Button 5 */
}

.btn-custom-font6 {
  font-family: 'Comic Sans MS', cursive;
  /* Example font family for Button 6 */
}

/* Align buttons in a row */
.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* Center align the buttons horizontally */
  gap: 10px;
  /* Add gap between buttons */
  padding-top: 10px;
}

/* Adjust button styles as needed */
.btn {
  /* Add common styles for buttons */
  padding: 10px 20px;
  border-radius: 5px;
}

/* use this for a button right now it takes up a whole witdth of screen on practice.html */
.hover-2 {
  --c: #1095c1;
  /* the color */
  --b: .1em;
  /* border length*/
  --d: 20px;
  /* the cube depth */

  --_s: calc(var(--d) + var(--b));

  color: var(--c);
  border: solid #0000;
  border-width: var(--b) var(--b) var(--_s) var(--_s);
  background:
    conic-gradient(at left var(--d) bottom var(--d),
      #0000 90deg, rgb(255 255 255 /0.3) 0 225deg, rgb(255 255 255 /0.6) 0) border-box,
    conic-gradient(at left var(--_s) bottom var(--_s),
      #0000 90deg, var(--c) 0) 0 100%/calc(100% - var(--b)) calc(100% - var(--b)) border-box;
  transform: translate(calc(var(--d)/-1), var(--d));
  /* transform: translate(calc(var(--d)/-1), calc(var(--d)/-1.5)); */

  clip-path:
    polygon(var(--d) 0%,
      var(--d) 0%,
      100% 0%,
      100% calc(100% - var(--d)),
      100% calc(100% - var(--d)),
      var(--d) calc(100% - var(--d)));
  transition: 0.5s;
  /* padding-left: 20px; */
}

/* .hover2div{
  padding:10px;
} */

.hover-2:hover {
  transform: translate(0, 0);
  clip-path:
    polygon(0% var(--d),
      var(--d) 0%,
      100% 0%,
      100% calc(100% - var(--d)),
      calc(100% - var(--d)) 100%,
      0% 100%);
}

/* *********************changing button section below may not be needed */
#hoverB1:hover {
  /* color: pink; */
  background-color: green;
  /* font-size: xx-large */
}

#hoverB2:hover {
  /* color: pink; */
  color: red
}

#hoverB3:hover {
  color: red;
  background-color: rgb(16, 17, 16);
}

#hoverB4:hover {
  font-size: 50px;
}

.webForm {
  justify-content: space-between;
}


/*  navbar css not sure how if im going to use below**************** */
#navbar2 .navbar-nav .nav-item {
  margin-right: 15px;
}

#navbar2 .navbar-brand,
#navbar2 .navbar-nav .nav-link {
  color: #333;
  padding: 10px 20px;
  border-radius: 8px;
}

#navbar2 .navbar-brand:hover,
#navbar2 .navbar-nav .nav-link:hover {
  background-color: #f0f0f0;
}

/* Custom CSS for centering the navbar items */
#navbar2 .navbar-nav {
  flex-direction: row;
  justify-content: flex-end;
}

#navbar2 .navbar-nav .nav-item {
  text-align: center;
}


/* Custom CSS for Navbar 3 */
#needLower{
  position: absolute;
  top: 30%;
}
/*  cant get navbars (navbar3 and navbar5 to addjust to screens below 768px */
#navbar3{
  display: flex;
  flex-wrap: wrap;
}
#navbar3 .navbar-nav .nav-item {
  margin-right: 20px;
  /* justify-content: space-around; */
}

#navbar3 .navbar-brand,
#navbar3 .navbar-nav .nav-link {
  color: #fff;
  padding: 6px 12px;
  border-radius: 3px;
}

#navbar3 .navbar-brand:hover,
#navbar3 .navbar-nav .nav-link:hover {
  background-color: #007bff;
}

/* Custom CSS for Navbar 5 */
#navbar5 .navbar-nav .nav-item {
  margin-right: 10px;
}

#navbar5 .navbar-brand,
#navbar5 .navbar-nav .nav-link {
  color: #333;
  padding: 8px 15px;
  border-radius: 5px;
}

#navbar5 .navbar-brand:hover,
#navbar5 .navbar-nav .nav-link:hover {
  background-color: #f0f0f0;
}

#navbar5 .form-inline .form-control {
  width: 300px;
}

/* Custom CSS for Centered Text Navbar */
#navbar6 .navbar-brand {
  margin-left: auto;
  margin-right: auto;
}

#navbar6 .navbar-nav {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#navbar6 .navbar-nav .nav-item {
  display: inline-block;
}

#navbar6 .navbar-brand,
#navbar6 .nav-link {
  color: #333;
  padding: 10px 20px;
  border-radius: 8px;
}

#navbar6 .navbar-brand:hover,
#navbar6 .nav-link:hover {
  background-color: #f0f0f0;
}

.accordion-item img {
  /* max-width: 100%;  */
  width: 400px;
  height: 300px;
}



#accImage1,
#accImage2 {
  text-align: center;
}

/* 
#accImage {
  justify-content: space-between;
  background-color: #f0d83b; 
} */





.ag-offer_item {
  width: 33.33%;

  overflow: hidden;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  position: relative;
}

.ag-offer_item:nth-child(1) .ag-offer_hidden-item {
  background-color: #0a2be4;
}

.ag-offer_item:hover .ag-offer_visible-item {
  opacity: 0;

  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);

  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.ag-offer_visible-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display:flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  height: 100%;
  width: 100%;
  padding: 35px 40px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: .4s .3s;
  -moz-transition: .4s .3s;
  -o-transition: .4s .3s;
  transition: .4s .3s;
}
.ag-offer_img {
  height: 64px;
  width: 64px;
  margin: 0 15px 0 0;
}
.ag-offer_title {
  font-size: 22px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ag-offer_hidden-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  padding: 30px;

  opacity: 0;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  -webkit-transform: rotate(180deg) scale(0);
  -moz-transform: rotate(180deg) scale(0);
  -ms-transform: rotate(180deg) scale(0);
  -o-transform: rotate(180deg) scale(0);
  transform: rotate(180deg) scale(0);

  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.ag-offer_item:hover .ag-offer_hidden-item {
  opacity: 1;

  -webkit-transform: rotate(0deg) scale(1);
  -moz-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  -o-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);

  -webkit-transition-delay: .3s;
  -moz-transition-delay: .3s;
  -o-transition-delay: .3s;
  transition-delay: .3s;
}
.ag-offer_text {
  max-width: 100%;

  opacity: 0;

  font-size: 20px;
  color: #FFF;

  -webkit-transition: .3s .5s;
  -moz-transition: .3s .5s;
  -o-transition: .3s .5s;
  transition: .3s .5s;
}
.ag-offer_item:hover .ag-offer_text {
  opacity: 1;
}

/* took out below div */
@media only screen and (max-width: 767px) {
  /* .ag-format-container {
    width: 96%;
  } */

  .ag-offer_item {
    width: 100%;
    margin:  0 0 30px;
    border: 0 none !important;
    border-bottom: 1px solid #c1c1c1 !important;
  }
  .ag-offer_visible-item {
    padding: 0 20px 30px;

    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .ag-offer_item:hover .ag-offer_visible-item {
    opacity: 1;

    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  .ag-offer_hidden-item {
    padding: 0 20px 20px;

    opacity: 1;

    position: static;

    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  .ag-offer_item:nth-child(1) .ag-offer_hidden-item,
  .ag-offer_item:nth-child(2) .ag-offer_hidden-item,
  .ag-offer_item:nth-child(3) .ag-offer_hidden-item,
  .ag-offer_item:nth-child(4) .ag-offer_hidden-item,
  .ag-offer_item:nth-child(5) .ag-offer_hidden-item,
  .ag-offer_item:nth-child(6) .ag-offer_hidden-item {
    background-color: transparent;
  }
  .ag-offer_item:hover .ag-offer_text {
    opacity: 1;
  }
  .ag-offer_title {
    font-weight: bold;
  }
  .ag-offer_text {
    opacity: 1;

    font-size: 18px;
    color: #000;
  }
  .ag-offer_btn {
    border: 2px solid #0000d1;
    background-color: #000080;

    position: static;

    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}

@media only screen and (max-width: 600px) {
  #bgImage p {
      font-size: medium
  }
}

@media only screen and (max-width: 500px) {
  #bgImage p {
      font-size: small
  }
}

@media only screen and (max-width: 375px) {
  #bgImage p {
      font-size: smaller
  }
}

@media (max-width: 768px) {
  .BottomVideoText {
    width: 80%; 
  }
}

@media (max-width: 576px) {
  .BottomVideoText {
    width: 100%; 
  }
}

@media (max-width: 476px) {
  .BottomVideoText {
    width: 100%; 
  }
}